# Environnement virtuel
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Données (auto-téléchargées)
data/
*.zip
*.csv
*.npz
*.npy

# Résultats générés
resultats/*.png
resultats/*.pth

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
