# Environnement virtuel
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Anciens fichiers de nettoyage
src/nettoyage_donnees.py
requirements_nettoyage.txt

# Jupyter
.ipynb_checkpoints/

# Donnees (trop volumineuses pour GitHub)
data/
real_data/
Training_database*
*.npz
*.npy

# Documents PDF
docs/*.pdf

# Resultats generes
resultats/*.png
resultats/*.pth

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
